<header>
<nav class="navbar navbar-expand-sm border-bottom">
  <div class="container">
    <button
      class="navbar-toggler ms-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-collapse"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/"><i class="bi bi-house-heart-fill" style="color: #CFB87C; font-weight: bold;"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/buffcircle"><i class="bi bi-people-fill" style="color: #CFB87C; font-weight: bold;"></i> BuffCircle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/friends"><i class="bi bi-person-hearts" style="color: #CFB87C; font-weight: bold;"></i> Friends</a>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <div class="nav-item me-3">
          <a href="/profile" style="color: #CFB87C; font-weight: bold;"> Profile</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" href="/logout"><i class="bi bi-box-arrow-right" style="color: red; font-weight: bold;"></i> Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>
</header>
